<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244858591397-jnb717l4do8kiu8kt0bpfbgc0g0kcq08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244858591397-jnb717l4do8kiu8kt0bpfbgc0g0kcq08</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>244858591397-3295aohttkiu8gv4us0mh4e6de9iuko3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8k1poI_Tl1HPol552k_4L2cVbTVUt__4</string>
	<key>GCM_SENDER_ID</key>
	<string>244858591397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voxtron.taskmanagement</string>
	<key>PROJECT_ID</key>
	<string>bondng</string>
	<key>STORAGE_BUCKET</key>
	<string>bondng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244858591397:ios:582fabbfb7ff219b2a154c</string>
</dict>
</plist>